.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-container {
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 95%;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #003d7d;
    color: #fff;
    border-radius: 8px;
}

.card p {
    margin: 0;
    text-align: justify;
}
