.header-container {
    margin-right: 9vw;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "Lexend-Regular", "Helvetica", serif;
    line-height: 6vw;
    letter-spacing: 0;
}

.shadow-h1 {
    text-shadow: 0 4px 4px #00000040;
}

p {
    margin: 0;
    padding: 0;
    font-family: "Lexend-Regular", "Helvetica", serif;
    letter-spacing: 0;
    white-space: nowrap;
}

.img-animation {
    transition: transform 0.2s ease;
}

.img-animation:hover {
    transform: scale(1.1);
}

