:root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    color: white;
    background: linear-gradient(
        to bottom,
        rgba(4, 24, 51, 1),
        rgba(4, 36, 79, 1),
        rgba(21, 69, 128, 1)
    );
}
